* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;

}


::-webkit-scrollbar{
    display: none;
}

body,
html {

    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;

}

.side-bar {
    height: 100%;
    width: 13%;
    position: fixed;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    padding: 1rem;

    .sidebar-header {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        button {
            padding: .5rem 1rem;
            background-color: transparent;
            text-align: start;
            font-weight: 600;
            font-size: 1em;
            border: none;
            border-radius: .7rem;

            &:hover {
                background-color: #e9909698;
            }

        }
    }

    .sidebar-library {
        margin-top: 3rem;



        p {
            color: rgba(0, 0, 0, 0.527);
            font-weight: 500;
            font-size: .8rem;
            margin-bottom: .5rem;
        }

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .list {

            color: black;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            padding-left: .2rem;

            border-radius: 1rem;

            h2 {
                font-weight: 400;
                font-size: 1rem;

            }

            .icon {
                font-size: 1.3rem;
            }


        }
    }

    .sidebar-Playlist{
        margin-top: 3rem;



        p {
            color: rgba(0, 0, 0, 0.527);
            font-weight: 500;
            font-size: .8rem;
            margin-bottom: .5rem;
        }

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .list {

            color: black;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            padding-left: .2rem;

            h2 {
                font-weight: 600;
                font-size: 1rem;

            }

        }
    }
}

.MainSection{
    position: relative;
    margin-left: 13%;
    height: 150%;
    width: 87%;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .upper{
        padding: 1rem;
        position: fixed;
        height:23%;
        width: 100%;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    }

    .search-section{
        background-color: transparent;
        height:5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 1rem;
        width: 85%;
        position: fixed;
        .search{


            flex: .98;
            height: 100%;
            padding-left: .8rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            border-radius: 2rem;
            background-color: rgba(255, 255, 255, 0.703);

            input{
                height: 100%;
                width: 100%;
                outline: none;
                border: none;
                padding: .5rem;
                border-radius: 1rem;
                background-color: transparent;


            }
            .ri-search-line{
                color: black;
            }


        }

        .profile{
            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .headingSection{
        width: 100%;
        margin-top: 5%;
        padding-left: 1rem;
        height: 8%;
        position: fixed;
        background-color: transparent;
        h1{
            font-size:3.5rem;
            color: #1c1c1c;
        }
    }

    .cardSection{
        padding: 1rem;
        margin-top: 10%;
        height:80%;
        // background-color: red;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 4rem;
        justify-items: center;
        align-items: center;

        .items{
            cursor: pointer;
            height: 100%;
            width: 80%;
            background-color: white;
            border-radius: 1.5rem;
            overflow: hidden;
            background: rgba(72, 72, 72, 0);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

            .imgsection{
                pointer-events: none;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 1.5rem;
                    height: 90%;
                    width: 90%;
                    object-fit: cover;
                    object-position: top;
                }
            }
            .bottom{
                pointer-events: none;
                padding: 1rem;
                // margin-top:  .5rem;
                color: black;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;

                p{
                    font-size: 1rem;
                    width: 90%;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }

    }
}

.player{
    position: fixed;
    bottom: 10%;
    left: 20%;
    height: 100px;
    width: 70%;
    background: rgba(255, 255, 255, 0.085); /* transparent white */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* for Safari */

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    display: flex;
    .left{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        padding: .5rem;
        gap: 1rem;
        img{
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
        }
        .headingSection
        {
            h3{
                font-size: 1rem;
                color: #333333;
            }
            p{
                font-size: 1rem;
                color: #333333;
            }
        }
    }
    .middle{
        height: 100%;
        width: 60%;
        // background-color: yellow;

        .upper-middle{
            padding: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: #333333;
            gap: 1.3rem;
            .icon{
                cursor:pointer;
            }

        }
        .lower-middle{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: #333333;
            gap: 1.3rem;

            .box{
                height: 6px;
                width: 400px;
                background: rgba(7, 7, 7, 0.296); /* transparent white */
                backdrop-filter: blur(20px);
                border-radius: 3rem;
                overflow: hidden;
                .inner{
                    height: 100%;
                    width:0%;
                    background-color: #0ba4f6;
                }
            }


        }
    }
    .right{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        .ri-volume-up-line{
            color: #333333;
            font-size: 1.2rem;

        }
        .box{
            height: 5px;
            width: 100px;
            background: rgba(7, 7, 7, 0.296); /* transparent white */
            backdrop-filter: blur(20px);
            border-radius: 3rem;
            overflow: hidden;
            .inner{
                height: 100%;
                width:60%;
                background-color: rgba(252, 252, 255, 0.321);
            }
        }
    }

}
