*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        height: 70%;
        width: 50%;
        background-color: white;
        padding: 1rem;
        border-radius: 2rem;


        .upper{
            height: 80%;
            width: 100%;
            background-image: url(https://images.unsplash.com/photo-1557053910-d9eadeed1c58?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-position: center;
            background-size: cover;
            border-radius: 2rem;
            position:relative ;
            overflow: hidden;

            .ri-poker-hearts-fill{
                font-size: 120px;
                position: absolute;
                background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyQtMWX8pwL5mDHUb8cPhO8Ndu3jlTkJu_mQ&s);
                filter: opacity(0.9);
                background-size:cover ;
                -webkit-background-clip: text;
                color: transparent;
                left: 50%;
                top: 50%;
                transform:translate(-50%,-50%) scale(0) rotate(-60deg);
                opacity: 0;

                transition: all 0.3s cubic-bezier(0.65,1,.77,1.44);
            }
        }

        .lower{
            height:20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 2rem;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 400;
            }


        }

    }
}
