*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}

.main{
   
    background-color: black;
    column-count: 3;

    img{
       width: 100%;
       margin-bottom:1em;

    }
}
