*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 2.5rem;

}

.parent {
    height:100vh;
    width: 100vw;
    background-color: rgb(208, 116, 116);
    display: flex;
    position: relative;
    .left{
        height: 100%;
        width: 50%;
        background-image:url(https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    }
    .right{
        height: 100%;
        width: 50%;
        background-image: url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }

}

h1{
    font-size: 4rem;
    background-color: transparent;

    z-index: 2;
    color: white;
    mix-blend-mode:difference;
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);




}
