*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.main{

    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        height: 70%;
        width: 30%;
        background-color: white;
        border: 5px solid blue;
        border-radius: 1rem;
        .upper{
            height: 120px;
            width: 100%;
            border-bottom: 1px solid gray;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;        /* prevent vertical wrapping */
            overflow-x: scroll;         /* enable horizontal scroll */
            overflow-y: hidden;         /* enable horizontal scroll */

            padding: 2rem 1rem;
            gap: .5rem;

            &::-webkit-scrollbar{
                display: none;
            }


            .story{
                // display: inline;
                flex-shrink: 0;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: 3px solid red;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit:cover;
                    object-position: center;

                }
            }

        }
        position: relative;
        overflow: hidden;
        #full-screen{
            height: 100%;
            width: 100%;
            // background-color: red;
            position: absolute;
            top: 0;
            display: none;
            background-size: cover;
        }



    }

}



@media (min-width:400px) and (max-width:900px) {
    .main{
        .card{
            width: 40%;
        }
    }
}
