// ================= VARIABLES =================
$bg-dark: #000;
$bg-light: #dadad3;
$text-light: #fff;
$hover-gray: #8f8c8c;

// ================= GLOBAL =================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body, html {
  font-family: sans-serif;
  background-color: white;


}

::-webkit-scrollbar{
    display: none;
}

.sideBar{
    position: fixed;
    height: 100vh;
    width: 70px;
    background-color: white;
    color: black;
    border-right: 2px solid black;

    .UpperSideBar{
        height: 50%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;

        .ri-pinterest-fill{
            color: red;

        }
        .icon{
            padding: .3rem;
            border-radius: 5px;
        }
        .icon:hover{
            background-color:$hover-gray;

        }


    }
    .LowerSideBar{

        display: flex;
        height: 50%;
        justify-content: center;
        align-items: end;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        .icon{
            padding: .3rem;
            border-radius: 5px;
        }
        .icon:hover{
            background-color:$hover-gray;

        }
    }

}

.main{
    height: 100vh;
    width:100%;
    background-color: white;
    padding-left: 5%;

    .topBar{

        position: fixed;
        background-color: white;
        height: 10%;
        width: 100%;
        padding: 1rem;

        display: flex;
        gap: 1.5rem;
        align-items: center;
        // justify-content: space-between;
        .searchBar{

            height: 100%;
            width: 90%;
            background-color: white;
            display: flex;
            align-items: center;
            padding-left:10px;
            border-radius: .5rem;
            background-color: #dadad3;

            .ri-search-line{
                color: black;
                font-size: 1rem;
                margin-right:10px;

            }

            input{
                height: 100%;
                width: 90%;
                border: none;
                font-size: 1rem;
                background-color: #dadad3;
                outline: none;
            }
        }
        .profile{
            img{
                height: 35px;
                width: 35px;
                object-fit: cover;
                border-radius: 50%;

            }
            &:hover{
                background-color:$hover-gray;
            }
            padding: .2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }
        .menu{
            .ri-arrow-down-s-line{
                font-size: 1.5rem;
                color: black;
                padding: .2rem;
                border-radius: .5rem;
                &:hover{
                    background-color:$hover-gray;
                }
            }
        }
    }

        .Links{
            padding-top:6%;
            height:8%;

            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 2%;
            padding-bottom:1rem ;



            a{
                text-decoration: none;
                color: black;
                font-weight: 500;

                &:first-child{
                   text-decoration: underline;
                }



            }
        }

        .image-section{


            column-width: 250px;  /* control image size here */
            column-gap: 1rem;
            padding: 1rem;


            img{
                width: 100%;
                margin-bottom:1rem ;
                border-radius: 1rem;

            }




        }

}
