*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f4f5;
}

.container{
    width:100%;
    min-height:100vh;
    padding-bottom:100px;
}

/* NAV */
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    font-size:20px;
}

/* SEARCH */
.search-section{
    display:flex;
    gap:10px;
    padding:0 20px;
}

.search-section input{
    flex:1;
    padding:12px;
    border-radius:10px;
    border:none;
    background:#e4e4e7;
    outline:none;
}

.search-section button{
    padding:12px 16px;
    border:none;
    border-radius:12px;
    background:#4A4563;
    color:white;
    cursor:pointer;
}

/* CATEGORIES */
.categories{
    display:flex;
    gap:15px;
    padding:30px 20px;
    overflow-x:auto;
}

.icon{
    padding:15px;
    border-radius:50%;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    cursor:pointer;
}

.icon.active{
    background:#4A4563;
    color:gold;
}

/* PRODUCTS */
.products{
    display:flex;
    gap:20px;
    padding:20px;
    overflow-x:auto;
}

.product{
    background:white;
    padding:10px;
    border-radius:15px;
    min-width:220px;
}

.image{
    height:180px;
    background:#ddd;
    border-radius:15px;
    background-size: cover;
    background-position: center;
}

.product-data{
    padding:15px 5px;
}

.product-data h2{
    font-size:18px;
}

.product-data p{
    font-size:14px;
    opacity:0.6;
}

.price-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
}

.price-row button{
    width:35px;
    height:35px;
    border-radius:50%;
    border:none;
    background:#4A4563;
    color:gold;
    cursor:pointer;
}

/* POPULAR */
.popular-section{
    padding:20px;
}

.popular-section h3{
    margin-bottom:15px;
}

.popular-list{
    display:flex;
    gap:20px;
    overflow-x:auto;
}

.popular-card{
    display:flex;
    gap:15px;
    background:white;
    padding:10px;
    border-radius:20px;
    min-width:250px;
}

.popular-card img{
    width:80px;
    height:80px;
    border-radius:20px;
    object-fit:cover;
}

/* FOOTER */
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:20px 0;
    box-shadow:0 -5px 20px rgba(0,0,0,0.1);
    font-size:22px;
}

.center-icon{
    background:#4A4563;
    color:gold;
    padding:15px;
    border-radius:50%;
    transform:translateY(-20px);
}