*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


    .card{
        height: 40%;
        width: 40%;
        background-color: white;
        border-radius: 2rem;

        .upper{
            height: 30%;
            width: 100%;

            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .progress{
                height: 30%;
                width: 90%;
                background-color: black;
                border-radius: 2rem;

                .perce{
                    height: 100%;
                    width: 20%;
                    background-color: gray;
                    border-radius: 2rem;
                }

            }
        }
        .lower{
            height:70%;
            width: 100%;
            padding: 0rem 1rem;

            .upper{
                h1{
                    font-size: 1.5rem;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: 100;
                }

            }
            .lower{
                h1{
                    font-size: 1.5rem;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: 100;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height:50%;
                }
                .btn{
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    button{
                        padding: .8rem 2rem;
                        background-color: gray;
                        color: white;
                        border: none;
                        border-radius: 2rem;
                        font-size: 1rem;

                        &:active{
                            scale:0.95;
                        }

                    }
                }
            }
        }


    }
}
